.Whole-2 {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: white;
}

.Right {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.Sidebar {
  width: 15%;
}
.Right {
  width: 85%;
}
