@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.App {

  width: 100vw;
  height: 100vh;
  background-color:whitesmoke;
 
}
body{
  margin: 0;
  font-family: Lato,sans-serif;
}